#backdrop {
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

body {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  position: relative;
}

.container {
  width: 100%;
  max-width: 61.25rem;
  margin: 0 auto;
  background-color: #ededed;
}

.title {
  display: flex;
  padding: 1.25rem 1.25rem 0.3125rem;
  flex-wrap: wrap;
}

.title__author-block {
  width: 100%;
  display: flex;
}

.title__photo {
  width: 13.75rem;
  height: 16.25rem;
  border-radius: 0.3125rem;
  display: block;
}

.title__author {
  text-align: center;
  margin: 0 auto;
}

.title__author-name {
  font-size: 3rem;
}

.title__author-profession {
  font-size: 2.875rem;
}

.title__code {
  font-size: 1.125rem;
  background-color: #f6f3f3;
  border-radius: 0.3125rem;
  padding: 0.3125rem;
}

.technology {
  display: flex;
  padding: 0.3125rem 1.25rem 1.25rem;
}

.technology__logo {
  width: 21.875rem;
  height: 21.875rem;
  border-radius: 0.3125rem;
}

.technology__logo:hover {
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 50%) 0 0 0.625rem;
}

.technology__stack {
  width: 100%;
  position: relative;
}

.technology__title {
  text-align: center;
  font-size: 2.25rem;
  margin: 1.5625rem 0 2.1875rem;
}

.technology__list {
  width: 25rem;
  box-sizing: border-box;
  margin:0;
  padding:0;
  list-style-type:none;
}

.technology__item {
  display:block;
  float:left;
  width:49%;
}

.technology__linux-link {
  right: 3.125rem;
  bottom: 5.5625rem;
}

.technology__linux {
  width: 8rem;
  height: 8rem;
  margin-top: 1.25rem;
}

.technology__linux-wrapper {
  margin: 0 auto;
}

.technology__item {
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
}

.technology__link {
  text-decoration: none;
  padding-left: 4.6875rem;
}

.technology__link:hover {
  color: #f7262d;
}

.certificates__title {
  font-size: 2.25rem;
  text-align: center;
  margin: 0 0 0.625rem;
}

.certificates__images {
  box-sizing: border-box;
  padding: 0 2.5rem 2.5rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image-block {
  width: 20rem;
  padding: 0.625rem;
  box-sizing: border-box;
}

.image-block__image {
  width: 18.75rem;
}

.image-block__image:hover {
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 50%) 0 0 0.625rem;
}

.image-block__description {
  margin: 0;
  padding: 0.3125rem;
}

.popup {
  z-index: 101;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.popup__img {
  max-width: 75rem;
}

.popup__close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.popup__wrapper {
  z-index: 102;
}

@media (max-width: 575px) {
  .title__author {
    order: 1;
    padding-top: 0;
  }

  .title__author-block {
    display: grid;
  }

  .title__photo {
    order: 2;
    text-align: center;
    margin: 0 auto;
  }

  .title__code {
    margin: 0.625rem auto;
  }

  .title__author-name {
    font-size: 2.125rem;
    margin-top: 0.625rem;
  }

  .title__author-profession {
    font-size: 1.875rem;
  }

  .technology__logo {
    width: 17.5rem;
    height: 17.5rem;
    margin: 5.3125rem auto 0;
  }

  .technology__title {
    margin: 1.5625rem 0 1.5625rem;
  }

  .technology__list {
    width: 17.5rem;
  }

  .technology__link {
    padding-left: 1.5625rem;
  }

  .technology__linux {
    width: 4rem;
    height: 4rem;
  }

  .technology__linux-wrapper {
    width: 4rem;
  }

  .popup__img {
    max-width: 18.75rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .title__author {
    padding-top: 3.75rem;
  }

  .title__author-name {
    font-size: 2.125rem;
  }

  .title__author-profession {
    font-size: 1.75rem;
  }

  .popup__img {
    max-width: 33.75rem;
  }

  .technology__linux-wrapper {
    width: 8rem;
  }
}

@media (max-width: 992px) {
  .technology {
    flex-wrap: wrap;
  }

  .technology__logo {
    order: 2;
    margin: 1rem auto 0;
  }

  .technology__stack {
    order: 1;
    flex-wrap: wrap;
  }

  .technology__list {
    margin: 0 auto;
  }

}

@media (min-width: 769px) and (max-width: 992px) {
  .title__author-name {
    font-size: 2.875rem;
  }

  .title__author-profession {
    font-size: 2.75rem;
  }

  .popup__img {
    max-width: 47rem;
  }
  
  .technology__linux-wrapper {
    width: 8rem;
  }
}

@media (min-width: 993px) and (max-width: 1240px) {
  .popup__img {
    max-width: 60rem;
  }
}
